.lista{
    list-style: none;
}
.pregunta{
    color:#0E1040;
    text-decoration: underline #2266AF;
    text-align:left;
    font-weight: bold;
}
.respuesta{
    text-align: justify;
    color:#0A405B;
}