<div class="container-fluid">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
<h2>{{titulo}}</h2>
</div>

</div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
    <ul class="lista">
        <li *ngFor="let preguntas of listaPreguntasRespuestas">
            <p class="pregunta">{{preguntas.id_pregunta}}.{{preguntas.pregunta}}</p>
            <p class="respuesta">{{preguntas.respuesta}}</p>
        </li>
    </ul>
</div>

</div>
</div>
