
    
<div class="container-fluid">
    <div class="row">
        
        <div class="col-6">
<h2>{{titulo}}</h2>
</div>
<div class="col-6"></div>
    </div>
    <div class="row">
        
        <div class="col-6 text-center d-flex flex-column align-items-center">
<table>
    <tr *ngFor="let asignaturas of listaAsignaturas">
        <td class="estilocelda">{{asignaturas.id_asignatura}}</td>
        <td>{{asignaturas.nombre}}</td>
        <td class="estilocelda">{{asignaturas.siglas}}</td>
        <td>{{asignaturas.profesor}}</td>
    </tr>
</table>
</div>
<div class="col-6"></div>
</div>
</div>