table{
    border-collapse: collapse;
    border:2px solid darkblue;
    text-align: center;
    
}
td{
    border:2px solid darkblue;
}
.estilocelda{
    background-color: lightblue ;
    font-weight: bold;
}
